<!DOCTYPE html>
<html>

<head>
    <title>Admin Productos</title>
    <link rel="stylesheet" href="/frontend/styles/global.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>

<body>

    <div class="alumnos-container">
        <p>Freijomil Bruno</p>
        <p>Gonzalez Paula</p>
        <p>Sanchez Franco Nicolas</p>
    </div>

    <header>
        <img src="/frontend/assets/imgs/gameLogo.jpg" alt="Logo">
        <h1>G4ME $T0RE - Dashboard Administrador</h1>
    </header>

    <main>
        <h1 style="text-align: center;">Productos</h1>

        <div class="container-buttons">
            <p>Filtrar por:</p>
            <button type="button" id="todos-button" class="button btn-filtrar" data-plataforma="Todos">Todos</button>
            <button type="button" id="xbox-button" class="button btn-filtrar" data-plataforma="Xbox">Xbox</button>
            <button type="button" id="play-button" class="button btn-filtrar"
                data-plataforma="PlayStation">PlayStation</button>
        </div>

        <div class="contenedor-altaproducto">
            <button class="button alta-producto" id="altaproducto-button" type="button">AGREGAR PRODUCTO</button>
        </div>



        <!-- Los datos de la variable "juegos" se pasan en carpeta juegosRutas.js (router.get('/dashboard', renderJuegos);),la variable juegos debe de ser pasada al renderizar express-->
        <div id="productos-container">
            <% if (juegos && juegos.length> 0) { %>
                <% juegos.forEach(juego=> { %>
                    <div class="card">
                        <img src="<%= juego.imagen %>" alt="<%= juego.nombre %>">
                        <div class="card-content">

                            <h4>
                                <%= juego.nombre %>
                            </h4>

                            <p>Precio: $<%= juego.precio %>
                            </p>

                            <p>Disponible: <%= juego.disponible===1 ? "Si" : "No" %>
                            </p>

                            <p>Plataforma: <%= juego.plataforma %>
                            </p>

                            <div class="acciones-botones">
                                <button class="editar-button" data-id="<%= juego.id %>">Modificar</button>
                                <button class="desactivar-button" data-id="<%= juego.id %>"
                                    data-disponible="<%= juego.disponible %>">Desactivar</button>
                                <button class="reactivar-button" data-id="<%= juego.id %>"
                                    data-disponible="<%= juego.disponible %>">Reactivar</button>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <p>No hay juegos para mostrar.</p>
                            <% } %>
        </div>


        <div class="contenedor-altaproducto">
            <button class="button alta-producto" id="volverlogin-button">Volver al login</button>
        </div>

        <div class="contenedor-altaproducto">
            <button class="button alta-producto" id="listadoventas-button">Listado de ventas</button>
        </div>
    </main>
</body>

<script src="/scripts/dashboard.js"></script>

</html>