<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Producto</title>
    <link rel="stylesheet" href="/frontend/styles/global.css">
    <link rel="stylesheet" href="/styles/altaymod-producto.css">
</head>
<body>
    <div class="alumnos-container">
        <p>Freijomil Bruno</p>
        <p>Gonzalez Paula</p>
        <p>Sanchez Franco Nicolas</p>
    </div>

    <header>
        <img src="/frontend/assets/imgs/gameLogo.jpg" alt="Logo">
        <h1>G4ME $T0RE - Modificacion producto</h1>
    </header>


    <form action="/juegos/modificar-producto/<%= juego.id %>" method="POST">
        <h1>Modificar datos de producto</h1>

        <label>Nombre:</label>
    <input type="text" name="nombre" id="input-nombre" value="<%= juego.nombre %>">

    <label>Plataforma:</label>
    <select name="plataforma" id="input-plataforma">
        <option value="Playstation" <%= juego.plataforma === 'Playstation' ? 'selected' : '' %>>Playstation</option>
        <option value="Xbox" <%= juego.plataforma === 'Xbox' ? 'selected' : '' %>>Xbox</option>
    </select>

    <label>Precio:</label>
    <input type="text" name="precio" id="input-precio" value="<%= juego.precio %>">

    <label>URL de imagen:</label>
    <input type="text" name="imagen" id="input-urlimg" value="<%= juego.imagen %>">

    <input type="hidden" name="disponible" value="<%= juego.disponible %>">

        <button class="aceptar-button" type="submit">Modificar</button>
        <button id="volver-button" type="button">Volver</button>
    </form>
</body>

<script>
    // Volver al dashboard
    document.getElementById("volver-button").addEventListener("click", () => {
        window.location.href = '/juegos/dashboard';
    });
</script>
</html>
